# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix .
        language: system
        types: [python]
        pass_filenames: false 

      - id: type-check
        name: type check
        entry: uv run ty check .
        language: system
        types: [python]
        pass_filenames: false